{% extends "base.html" %}
{% load static %}
{% load bag_tools %}

{% block content %}
<div class="container-fluid bag-page text-center bg-flowers">
    <div class="row">
        <div class="col">
            <h2 class="logo-font mt-3 text-uppercase">Shopping Bag</h2>
            <hr class="w-50 mb-1">
        </div>
    </div>
    <div class="row">
        <div class="col">
            {% if bag_items %}
            <div class="table-responsive rounded">
                <table class="table table-sm table-borderless">
                    {% for item in bag_items %}
                    <tr class="d-flex justify-content-around align-items-center mobile">
                        <td class="p-3 col-2">
                            {% if item.product.image %}
                            <img class="bag_size_image" src="{{ item.product.image.url }}"
                                alt="{{ item.product.name }}">
                            {% else %}
                            <img class="bag_size_image" src="{{ MEDIA_URL }}noimage.png" alt="{{ item.product.name }}">
                            {% endif %}
                        </td>
                        <td class="p-3 col-4">
                            <p class="my-0"><strong>{{ item.product.name }}</strong></p>
                            <p class="my-0 small text-muted">SKU: {{ item.product.sku|upper }}</p>
                        </td>
                        <td class="p-3 col-2">
                            <p class="my-0"><strong>Price</strong></p>
                            <p class="my-0">€{{ item.product.price }}</p>
                        </td>
                        <td class="py-3 col-2 adjust_qty_btn">
                            <form class="form update-form qty-bag-form" method="POST"
                                action="{% url 'adjust_bag' item.item_id %}">
                                {% csrf_token %}
                                <div class="form-group">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <button class="decrement-qty btn btn-sm btn-danger"
                                                data-item_id="{{ item.item_id }}" id="decrement-qty_{{ item.item_id }}">
                                                <span>
                                                    <i id="icon-minus" class="fa-solid fa-minus"></i>
                                                </span>
                                            </button>
                                        </div>
                                        <input class="form-control qty_input" type="number" name="quantity"
                                            value="{{ item.quantity }}" min="1" max="99"
                                            data-item_id="{{ item.item_id }}" id="id_qty_{{ item.item_id }}"
                                            style="font-size: 17px;">
                                        <div class="input-group-append">
                                            <button class="increment-qty btn btn-sm btn-danger"
                                                data-item_id="{{ item.item_id }}" id="increment-qty_{{ item.item_id }}">
                                                <span>
                                                    <i class="fa-solid fa-plus"></i>
                                                </span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                            <div class="row">
                                <div class="col-6">
                                    <a class="update-link text-info"><small>Update</small></a>
                                </div>
                                <div class="col-6">
                                    <a class="remove-item text-danger float-right"
                                        id="remove_{{ item.item_id }}"><small>Remove</small></a>
                                </div>
                            </div>
                        </td>
                        <td class="py-3">
                            <p class="my-0"><strong>Subtotal</strong></p>
                            <p class="my-0">€{{ item.product.price | calc_subtotal:item.quantity }}</p>
                            <hr class="mb-1">
                        </td>
                    </tr>
                    {% endfor %}
                    <tr>
                        <td colspan="5" class="pt-5 text-right">
                            <h6><strong>Bag Total: €{{ total|floatformat:2 }}</strong></h6>
                            <h6>Delivery: €{{ delivery|floatformat:2 }}</h6>
                            <h4 class="mt-4"><strong>Grand Total: €{{ grand_total|floatformat:2 }}</strong></h4>
                            {% if free_delivery_delta > 0 %}
                            <p class="mb-1 text-danger">
                                You could get free delivery by spending just <strong>€{{ free_delivery_delta }}</strong>
                                more!
                            </p>
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td colspan="5" class="text-right">
                            <a href="{% url 'products' %}" class="btn btn-outline-black rounded-0 btn-lg">
                                <span class="icon">
                                    <i class="fas fa-chevron-left"></i>
                                </span>
                                <span class="text-uppercase">Keep Shopping</span>
                            </a>
                            <a href="{% url 'checkout' %}" class="btn btn-lg btn-danger">
                                <span class="text-uppercase">Secure Checkout</span>
                                <span class="icon">
                                    <i class="fas fa-lock"></i>
                                </span>
                            </a>
                        </td>
                    </tr>
                </table>
            </div>
            {% else %}
            <p class="lead mb-5 mt-5">Your shopping bag is empty.</p>
            <a href="{% url 'products' %}" class="btn btn-lg btn-danger">
                <span class="icon">
                    <i class="fas fa-chevron-left"></i>
                </span>
                <span class="text-uppercase">Keep shopping</span>
            </a>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}

{% block postloadjs %}
    {{ block.super }}

<script type="text/javascript">

    // Update quantity on click
    $(document).ready(function () {
        $('.update-link').on('click', function () {
            var form = $(this).closest('tr').find('.update-form');
            form.submit();
        });
    });

    // Remove item and reload on click
    $('.remove-item').click(function(e) {
        var csrfToken = "{{ csrf_token }}";
        var itemId = $(this).attr('id').split('remove_')[1];
        var url = `/bag/remove/${itemId}/`;
        var data = {'csrfmiddlewaretoken': csrfToken};

        $.post(url, data)
         .done(function() {
            location.reload();
         });
    })

    // Disable +/- buttons outside 1-99 range
    function handleEnableDisable(itemId) {
        var currentValue = parseInt($(`#id_qty_${itemId}`).val());
        var minusDisabled = currentValue < 2;
        var plusDisabled = currentValue > 98;
        $(`#decrement-qty_${itemId}`).prop('disabled', minusDisabled);
        $(`#increment-qty_${itemId}`).prop('disabled', plusDisabled);
    }

    // Ensure proper enabling/disabling of all inputs on page load
    var allQtyInputs = $('.qty_input');
    for(var i = 0; i < allQtyInputs.length; i++){
        var itemId = $(allQtyInputs[i]).data('item_id');
        handleEnableDisable(itemId);
    }

    // Check enable/disable every time the input is changed
    $('.qty_input').change(function() {
        var itemId = $(this).data('item_id');
        handleEnableDisable(itemId);
    });

    // Increment quantity
    $('.increment-qty').click(function(e) {
       e.preventDefault();
       var closestInput = $(this).closest('.input-group').find('.qty_input')[0];
       var currentValue = parseInt($(closestInput).val());
       $(closestInput).val(currentValue + 1);
       var itemId = $(this).data('item_id');
       handleEnableDisable(itemId);
    });

    // Decrement quantity
    $('.decrement-qty').click(function(e) {
       e.preventDefault();
       var closestInput = $(this).closest('.input-group').find('.qty_input')[0];
       var currentValue = parseInt($(closestInput).val());
       $(closestInput).val(currentValue - 1);
       var itemId = $(this).data('item_id');
       handleEnableDisable(itemId);
    });

</script>

{% endblock %}