{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container-fluid bag-page text-center bg-flowers">
    <div class="row">
        <div class="col">
            <h2 class="logo-font mt-3 text-uppercase">Shopping Bag</h2>
            <hr class="w-50 mb-1">
        </div>
    </div>
    <div class="row">
        <div class="col">
            {% if bag_items %}
                <div class="table-responsive rounded"></div>
            {% else %}
                <p class="lead mb-5 mt-5">Your shopping bag is empty.</p>
                <a href="{% url 'products' %}" class="btn btn-lg btn-danger">
                    <span class="icon">
                        <i class="fas fa-chevron-left"></i>
                    </span>
                    <span class="text-uppercase">Keep shopping</span>
                </a>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}