{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container-fluid bag-page text-center bg-flowers">
    <div class="row">
        <div class="col">
            <h2 class="logo-font mt-3 text-uppercase">Wishlist</h2>
            <hr class="w-50 mb-1">
        </div>
    </div>
    <div class="row">
        <div class="col p-0">
            {% if user.is_authenticated %}
            {% if wishlist %}
            <div class="table-responsive rounded">
                <table class="table table-sm table-borderless">
                    {% for item in wishlist %}
                    <tr class="d-flex justify-content-around align-items-center mobile">
                        <td class="p-3 col-xl-3 col-lg-3 col-md-3 col-sm-12 col-xs-12">
                            {% if item.image %}
                            <a class="products-link" href="{% url 'view_product' item.id %}">
                                <img class="bag_size_image" src="{{ item.image.url }}" alt="{{ item.name }}">
                            </a>
                            {% else %}
                            <a class="products-link" href="{% url 'view_product' item.id %}">
                                <img class="bag_size_image" src="{{ MEDIA_URL }}noimage.png" alt="{{ item.name }}">
                            </a>
                            {% endif %}
                        </td>
                        <td class="p-3 col-xl-3 col-lg-3 col-md-3 col-sm-12 col-xs-12">
                            <a class="products-link" href="{% url 'view_product' item.id %}">
                                <p class="my-0"><strong>{{ item.name }}</strong></p>
                                <p class="my-0 small text-muted text-break">SKU: {{ item.sku|upper }}</p>
                            </a>
                        </td>
                        <td class="p-3 col-xl-3 col-lg-3 col-md-3 col-sm-12 col-xs-12">
                            <p class="my-0"><strong>Price</strong></p>
                            <p class="my-0">€{{ item.price }}</p>
                        </td>
                        <td class="p-3 col-xl-3 col-lg-3 col-md-3 col-sm-12 col-xs-12">
                            <form action="{% url 'add_to_wishlist' item.id %}" method="POST">
                                {% csrf_token %}
                                <button type="submit" name="wishlist_btn" value="Add to wishlist"
                                    class="wishlist_btn btn text-danger pl-0">
                                    <p class="m-0">Remove from Wishlist</p>
                                </button>
                            </form>
                        </td>
                        {% endfor %}
                    <tr>
                        <td colspan="5" class="text-right">
                            <a href="{% url 'products' %}" class="btn btn-danger btn-lg">
                                <span class="icon">
                                    <i class="fas fa-chevron-left"></i>
                                </span>
                                <span class="text-uppercase">Back to Products list</span>
                            </a>
                        </td>
                    </tr>
                </table>
            </div>
            {% else %}
            <div>
                <p class="lead mb-5 mt-5">Your wishlist is empty.</p>
                <a href="{% url 'products' %}" class="btn btn-lg btn-danger">
                    <span class="icon">
                        <i class="fas fa-chevron-left"></i>
                    </span>
                    <span class="text-uppercase">View products list</span>
                </a>
            </div>
            {% endif %}
            {% else %}
            <p>Please log in to access your wishlist.</p>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
