.nav-style {
    padding: 0 !important;
    background-color: #E67D87;
    border-bottom: 3px ridge #EAD4C3;
}

.home {
    background-size: cover;
    background-position: bottom;
    background-image: url('/static/images/home-background.jpg');
    width: 100vw;
    height: 100vh;
    margin: 120px 0 0 0 !important;
}

.bag-navbar-empty {
    color: #36393B;
}

.bag-navbar-full {
    color: #880D0F;
}

.bag-navbar-empty:hover {
    color: #19191a;
    text-decoration: none;
}

.bag-navbar-full:hover {
    color: #af2f31;
    text-decoration: none;
}

.bg-flowers {
    background-image: url('/static/images/background-products.gif');
}

.navbar-logo {
    height: 120px;
    width: 120px;
}

.body-products {
    width: 100vw;
    height: 100%;
    margin-top: 120px;
    background: #fff;
    overflow: auto;
    color: #36393B;
}

.products-link {
    text-decoration: none !important;
    color: #36393B;
}

.products-link:hover {
    color: #880D0F;
}

footer {
    background-color: #E67D87;
    border-top: 3px ridge #EAD4C3;
}

.welcome-image {
    display: flex;
    justify-content: flex-end;
    height: 100%;
}

.home-shop-box {
    background-size: cover;
    height: auto;
    max-width: 100%;
}

.btn-top {
    height: 42px;
    width: 42px;
    position: fixed;
    bottom: 10px;
    right: 10px;
    margin-bottom: 200px;
}

.btn-top-link {
    cursor: pointer;
}

.bag-page {
    width: 100vw;
    height: 100vh;
    margin: 120px 0 0 0 !important;
    overflow: auto;
}

.bag_size_image {
    width: 200px;
    height: 200px;
    background-size: cover;
}

.adjust_qty_btn{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.qty-bag-form {
    width: 40%;
}

.update-link, .remove-item {
    cursor: pointer;
}

.message-container {
    position: fixed;
    top: 130px;
    right: 10px;
    z-index: 99999999999;
    border: 1px ridge #EAD4C3;
    box-shadow: 1px 1px #EAD4C3;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}

/* from CSS-tricks.com: https://css-tricks.com/snippets/css/css-triangle/ */
.arrow-up {
    width: 0; 
    height: 0; 
    border-left: 4px solid transparent;
    border-right: 4px solid transparent; 
    border-bottom: 10px solid black;
    position: absolute;
    top: -10px;
    right: 36px;
}

/* Convenience classes - colors copied from Bootstrap */
.arrow-primary {
    border-bottom-color: #007bff !important;
}

.arrow-secondary {
    border-bottom-color: #EAD4C3 !important;
}

.arrow-success {
    border-bottom-color: #28a745 !important;
}

.arrow-danger {
    border-bottom-color: #dc3545 !important;
}

.arrow-warning {
    border-bottom-color: #ffc107 !important;
}

.arrow-info {
    border-bottom-color: #17a2b8 !important;
}

.arrow-light {
    border-bottom-color: #f8f9fa !important;
}

.arrow-dark {
    border-bottom-color: #343a40 !important;
}

.bag-notification-wrapper {
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}

/* Stripe */

.StripeElement,
.stripe-style-input {
  box-sizing: border-box;
  height: 40px;
  padding: 10px 12px;
  border-radius: 5px;
  background-color: white;
  box-shadow: 0 1px 3px 0 #e6ebf1;
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
}

.StripeElement--focus,
.stripe-style-input:focus,
.stripe-style-input:active {
  box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
}

.stripe-style-input::placeholder {
    color: #aab7c4;
}

.fieldset-label {
    position: relative;
    right: .5rem;
}

#payment-form .form-control,
#card-element {
    color: #36393B;
    border: 1px solid #36393B;
}

/* Overlay Icon */

#loading-overlay {
	display: none;
	position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #dc3546b0;
    z-index: 9999;
}

.loading-spinner {
	display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    height: 100%;
}

/* Country dropdown menu */

select,
select option {
    color: #36393B;
}

select:invalid,
select option[value=""] {
    color: #727272 !important;
}

/* Allauth */

.allauth {
    width: 100vw;
    height: 100vh;
    margin-top: 120px;
    overflow: auto;
    color: #36393B;
}

.login-allauth {
    width: auto;
}

/* Order History - My profile */

.order-history {
    max-height: 416px;
    overflow-y: auto;
}

/* Add product */

.add-product input, 
.add-product textarea, 
.add-product select {
    color: #36393B;
    border: 1px solid #36393B;
    border-radius: .25rem;
}

.add-product label {
    font-weight: bold;
}