{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block inner_content %}
    <h2 class="logo-font mb-4 text-uppercase">{% trans "Change Password" %}</h2>
    <hr class="w-50 mb-1">

    <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
        {% csrf_token %}
        {{ form|crispy }}
        <button class="btn btn-danger" type="submit" name="action">{% trans "Change Password" %}</button>
    </form>
{% endblock %}
