{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Set Password" %}{% endblock %}

{% block inner_content %}
    <h2 class="logo-font mb-4 text-uppercase">{% trans "Set Password" %}</h2>
    <hr class="w-50 mb-1">

    <form method="POST" action="{% url 'account_set_password' %}" class="password_set">
        {% csrf_token %}
        {{ form|crispy }}
        <input class="btn btn-danger text-uppercase" type="submit" name="action" value="{% trans 'Set Password' %}"/>
    </form>
{% endblock %}
