{% load static %}

<!doctype html>
<html lang="en" class="h-100">
  <head>    
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="buy gifts, buy chocolates, buy flowers">
    <meta name="keywords"
      content="hampers, chocolates, flowers, hampers ireland, best hampers ireland,
               hampers dublin, flowers delivery dublin, best flower delivery in dublin,
               chocolate gifts box, chocolate gift set, chocolate gifts ireland">

    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/5d852ae91a.js" crossorigin="anonymous"></script>
    <!-- Stripe -->
    <script src="https://js.stripe.com/v3/"></script>

    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <link href="//cdn-images.mailchimp.com/embedcode/classic-061523.css" rel="stylesheet" type="text/css">

    <title>Gifts and Flowers</title>
  </head>
  <body class="d-flex flex-column h-100">
    <header class="container-fluid fixed-top nav-style">
      <nav class="navbar navbar-expand-lg navbar-light">
        <a class="navbar-brand" href="{% url 'home' %}">
          <img src="{% static 'images/logo.png' %}" alt="gifts-and-flowers-logo"
          class="navbar-logo img-fluid"/>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarScroll">
          <ul class="navbar-nav mr-auto my-2 my-lg-0 navbar-nav-scroll" style="max-height: 100px;">
            <li class="nav-item active">
              <a class="nav-link" href="{% url 'home' %}">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="false">
                Products
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="{% url 'products' %}">All products</a></li>
                <li><a class="dropdown-item" href="{% url 'products' %}?category=hampers">Hampers</a></li>
                <li><a class="dropdown-item" href="{% url 'products' %}?category=flowers">Flowers</a></li>
                <li><a class="dropdown-item" href="{% url 'products' %}?category=chocolates">Chocolates</a></li>
              </ul>
            </li>
            {% if request.user.is_authenticated %}
              {% if request.user.is_superuser %}
                <li class="nav-item">
                  <a href="{% url 'add_product' %}" class="nav-link">Product Management</a>
                </li>
              {% endif %}
                <li class="nav-item">
                  <a href="{% url 'profile' %}" class="nav-link">My Profile</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'wishlist' %}">Wishlist</a>
                </li>
                <li class="nav-item">
                  <a href="{% url 'account_logout' %}" class="nav-link">Logout</a>
                </li>
            {% else %}
              <li class="nav-item">
                <a href="{% url 'account_signup' %}" class="nav-link">Register</a>
              </li>
              <li class="nav-item">
                <a href="{% url 'account_login' %}" class="nav-link">Login</a>
              </li>
            {% endif %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'contact' %}">Contact Us</a>
            </li>
          </ul>
          <form class="d-flex nav-item" method="GET" action="{% url 'products' %}">
            <div class="input-group w-100">
              <input class="form-control mr-2" type="text" placeholder="Search" aria-label="Search" name="q">
                <div class="input-group-append">
                    <button class="btn btn-danger" type="submit">
                        <span class="icon">
                            <i class="fas fa-search"></i>
                        </span>
                    </button>
                </div>
            </div>
          </form>
        </div>
        <div class="row navbar">
          <div class="col">
            <a href="{% url 'view_bag' %}" class="{% if grand_total %}font-weight-bold bag-navbar-full{% else %}bag-navbar-empty{% endif %}">
              <div class="text-center">
                <div><i class="fas fa-shopping-bag fa-lg"></i></div>
                <p class="my-0">
                  {% if grand_total %}
                    €{{ grand_total|floatformat:2 }}
                  {% else %}
                    €0.00
                  {% endif %}
                </p>
              </div>
            </a>
          </div>
        </div>
      </nav>
    </header>
    {% if messages %}
        <div class="message-container">
          {% for message in messages %}
                {% with message.level as level %}
                    {% if level == 40 %}
                        {% include 'includes/toasts/toast_error.html' %}
                    {% elif level == 30 %}
                        {% include 'includes/toasts/toast_warning.html' %}
                    {% elif level == 25 %}
                        {% include 'includes/toasts/toast_success.html' %}
                    {% else %}
                        {% include 'includes/toasts/toast_info.html' %}
                    {% endif %}
                {% endwith %}
            {% endfor %}
        </div>
    {% endif %}

    {% block content %}
    {% endblock %}

    <footer class="footer">
      <div class="accordion" id="accordionExample">
        <div class="card border-0">
          <div class="card-header p-0" id="headingOne">
            <h2 class="mb-0">
              <button class="btn btn-link btn-block text-left text-dark footer rounded-0" type="button"
                data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                <h4 class="text-uppercase">Stay in touch:</h4>
              </button>
            </h2>
          </div>
          <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
            <div class="card-body">
              <a href="https://www.facebook.com/" target="_blank" class="footer-social-link text-muted" rel="noopener">
                <i class="fab fa-facebook-square ms-3"></i> Follow us on facebook!
              </a>
            </div>
          </div>
        </div>
        <div class="card border-0">
          <div class="card-header p-0" id="headingTwo">
            <h2 class="mb-0">
              <button class="btn btn-link btn-block text-left collapsed text-dark footer" type="button"
                data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                <h4 class="text-uppercase">Subscribe:</h4>
                <small>Get exclusive offers and discount by subscribing to our monthly newsletter!</small>
              </button>
            </h2>
          </div>
          <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
            <div class="card-body mobile">
              <div id="mc_embed_signup">
                <form
                  action="https://herokuapp.us8.list-manage.com/subscribe/post?u=773fa48b4e82b95018d17cb63&amp;id=d4afb7120b&amp;f_id=002e77e0f0"
                  method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form"
                  class="validate m-0 form-group" target="_blank">
                  <div id="mc_embed_signup_scroll">
                    <div class="row">
                      <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <div class="mc-field-group"><label for="mce-EMAIL"><small>Endereço de e-mail (required)
                            </small><span class="asterisk enable-rounded">*</span></label><input type="email"
                            name="EMAIL" class="required email" id="mce-EMAIL" required="" value="">
                        </div>
                        <div id="mce-responses" class="clear foot">
                          <div class="response" id="mce-error-response" style="display: none;"></div>
                          <div class="response" id="mce-success-response" style="display: none;"></div>
                        </div>
                        <div style="position: absolute; left: -5000px;" aria-hidden="true">
                          /* real people should not fill this in and expect good things - do not remove this or risk
                          form
                          bot
                          signups */
                          <input type="text" name="b_773fa48b4e82b95018d17cb63_d4afb7120b" tabindex="-1">
                        </div>
                      </div>
                      <div class="col-6 d-flex align-items-center">
                        <input type="submit" name="subscribe" id="mc-embedded-subscribe"
                          class="btn btn-danger border-0 text-uppercase m-0" value="Subscribe">
                        <p style="margin: 0px auto;"><a href="http://eepurl.com/iEOKgk"
                            title="Mailchimp - email marketing made easy and fun"><span
                              style="display: inline-block; background-color: transparent; border-radius: 4px;"><img
                                class="refferal_badge"
                                src="https://digitalasset.intuit.com/render/content/dam/intuit/mc-fe/en_us/images/intuit-mc-rewards-text-dark.svg"
                                alt="Intuit Mailchimp"
                                style="width: 220px; height: 40px; display: flex; padding: 2px 0px; justify-content: center; align-items: center;"></span></a>
                        </p>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>
    {% block postloadjs %}
    <script type="text/javascript">
      $('.toast').toast('show');
    </script>
    <script type="text/javascript" src="//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js"></script>
    <script type="text/javascript">
      (function ($) {
        window.fnames = new Array();
        window.ftypes = new Array();
        fnames[0] = 'EMAIL';
        ftypes[0] = 'email';
        fnames[1] = 'FNAME';
        ftypes[1] = 'text';
        fnames[2] = 'LNAME';
        ftypes[2] = 'text';
        fnames[3] = 'ADDRESS';
        ftypes[3] = 'address';
        fnames[4] = 'PHONE';
        ftypes[4] = 'phone';
        fnames[5] = 'BIRTHDAY';
        ftypes[5] = 'birthday';
      }(jQuery));
      var $mcj = jQuery.noConflict(true);
    </script>
    </div>
    {% endblock %}
  </body>
</html>
