{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="body-products">
    <div class="container-fluid bg-flowers d-flex justify-content-center flex-column align-items-center">
        <div class="row">
            <div class="col-12">
                <div class="col">
                    <h2 class="logo-font text-uppercase pb-2">Success!</h2>
                    <hr class="mb-1">                    
                </div>
            </div>
        </div>
        <div class="container d-flex justify-content-around">
            <div class="row">
                <div class="col m-auto pt-5">
                    <p><i class="fa-solid fa-circle-check icon-success-contact"></i></p>
                </div>
            </div>
            <div class="row">
                <div class="col m-auto pt-5 text-center">
                    <p class="font-weight-bold">Your enquiry has been successfully sent to the store owner!</p>
                    <p>Your will receive a reply within 2-3 workdays.</p>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}