{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="body-products">
    <div class="container-fluid bg-flowers d-flex flex-column align-items-center">
        <div class="row">
            <div class="col-12">
                <div class="col">
                    <h2 class="logo-font text-uppercase p-2">Contact-us</h2>
                    <hr class="mb-1">
                </div>
            </div>
        </div>
        <div class="row d-flex justify-content-between">
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-xs-12 text-center mt-0">
                <h4 class="font-weight-bold p-2">Customer Care opening hours</h4>
                <p class="text-uppercase p-2">Standard opening hours</p>
                <p class="p-2">Monday to Friday: 8.30am - 7pm</p>
                <p class="p-2">Saturday & Sunday: 8.45am- 5pm</p>
                <p class="p-2">Bank Holidays: 9am - 4pm</p>
                <p class="p-2">Christmas Day & Easter Sunday: Closed</p>
                <p class="font-weight-bold p-2">Call +353 0900 151 123</p>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-xs-12 text-center mt-0">
                <h4 class="font-weight-bold p-2 mb-4">Frequently asked questions</h4>
                <div class="accordion" id="accordionContact">
                    <div class="card">
                        <div class="card-header" id="contactOne">
                            <h2 class="mb-0">
                                <button class="btn btn-link btn-block text-dark font-weight-bold"
                                    type="button" data-toggle="collapse" data-target="#collapseContactOne" aria-expanded="true"
                                    aria-controls="collapseContactOne">
                                    How do I track my delivery?
                                </button>
                            </h2>
                        </div>
                        <div id="collapseContactOne" class="collapse show" aria-labelledby="contactOne"
                            data-parent="#accordionContact">
                            <div class="card-body">
                                You will receive the tracking number on your email. Just copy it and paste on the
                                parcel's tracking website
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="contactTwo">
                            <h2 class="mb-0">
                                <button class="btn btn-link btn-block collapsed text-dark font-weight-bold"
                                    type="button" data-toggle="collapse" data-target="#collapseContactTwo"
                                    aria-expanded="false" aria-controls="collapseContactTwo">
                                    How long will my delivery take?
                                </button>
                            </h2>
                        </div>
                        <div id="collapseContactTwo" class="collapse" aria-labelledby="contactTwo"
                            data-parent="#accordionContact">
                            <div class="card-body">
                                Usually delivered within 4 working days 8am - 9pm. Free when you spend €50 or more.
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="contactThree">
                            <h2 class="mb-0">
                                <button class="btn btn-link btn-block collapsed text-dark font-weight-bold"
                                    type="button" data-toggle="collapse" data-target="#collapseContactThree"
                                    aria-expanded="false" aria-controls="collapseContactThree">
                                    Do you offer any discounts or coupons?
                                </button>
                            </h2>
                        </div>
                        <div id="collapseContactThree" class="collapse" aria-labelledby="contactThree"
                            data-parent="#accordionContact">
                            <div class="card-body">
                                We have some special offers and cupons from time to time. If you would like to
                                receive a notification about it, don't forget to subscribe on our newsletter!
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-xs-12 text-center mt-0">
                <form class="mt-0" method="POST" action="{% url 'contact' %}">
                    {% csrf_token %}
                    <h4 class="font-weight-bold p-2">How can we help?</h4>
                    {{ form|crispy }}
                    <button type="submit" class="btn btn-danger m-3">Submit</button>                    
                  </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}